.popup {
	width:100px;
	height:100px;
	min-height:100px;
	min-width:100px;
	position:fixed;
	background-color:#333;
	left:10px;
}
	.popup:hover {
		transform:scale(1.02);
	}

	.popup ._img {
		margin: 0;
		display: block;
		height: 80%;
		min-height: 80%;
		width: 100%;
		min-width: 100%;
		background-image: url("../popup/unknown.jpg");
		background-size:contain;
		background-repeat:no-repeat;
		background-position: center center;
	}

	.popup ._text {
		margin:0;
		height: 20%;
		min-height: 20%;
		width: 100%;
		min-width: 100%;
		color:#ddd;
	}

		.popup ._text span{
			vertical-align:middle;
		}

	.popup ._exit {
		position:absolute;
		right:0;
		top:0;
		height:20px;
		min-height:20px;
		width:20px;
		min-width:20px;
		background-color:#f00;
	}

		.popup ._exit:hover {
			transform: scale(1.2);
		}

		.popup ._exit::after {
			content: "";
			display: inline-block;
			width: inherit;
			height: calc(100%/5);
			background-color: #eee;
			position: absolute;
			left: 0;
			top: calc(100%/2 - 100%/5/2);
			transform: rotate(45deg);
		}
		.popup ._exit::before {
			content: "";
			display: inline-block;
			width: inherit;
			height: calc(100%/5);
			background-color: #eee;
			position: absolute;
			left: 0;
			top: calc(100%/2 - 100%/5/2);
			transform: rotate(135deg);
		}
